body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

.header {
  background-color: rebeccapurple;
  padding-top: 10px;
  margin-bottom: 10rem;
  color: white;
}

.footer {
  background-color: blueviolet;
  padding-top: 10px;
  margin-bottom: 10rem;
  color: white;
}